certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
colorama==0.4.6
    # via -r requirements.txt
idna==3.6
    # via requests
keyboard==0.13.5
    # via -r requirements.txt
mouse==0.7.1
    # via -r requirements.txt
mss==9.0.1
    # via -r requirements.txt
numpy==1.26.3
    # via -r requirements.txt
PyAutoIt==0.6.5
pillow==10.2.0
    # via -r requirements.txt
pyperclip==1.8.2
    # via -r requirements.txt
pywin32==306
    # via -r requirements.txt
requests==2.31.0
    # via -r requirements.txt
semver==3.0.2
    # via -r requirements.txt
tomli_w==1.0.0
urllib3==2.1.0
    # via requests
