autoit==0.2.6
colorama==0.4.6
keyboard==0.13.5
Pillow==9.5.0
PyAutoGUI==0.9.54
PyAutoIt==0.6.5
PyGetWindow==0.0.9
pywin32==306
requests==2.31.0
PySide6==6.5.1.1
mss==9.0.1
pypresence==4.2.0
playsound==1.3.0
wheel==0.37.0
setuptools==58.0.4